name: DVC Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  repro:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .

      - name: Run DVC pipeline
        run: |
          dvc --version
          dvc repro

      - name: Upload reports
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: reports/
